main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	& h2{
		margin-top: 100px;
	}
	
	& a{
		margin-bottom: 355px;
		color: #3D3D3D;
		font-family: "Work Sans";
		font-size: 14px;
		text-decoration-line: underline;
	}

	.MessageErreur{
		color:red;
	}
}




