.modale{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display:flex;
    justify-content: center;
    align-items: center;
    

    #ModaleContainer{
        width: 630px;
        height: 688px;
        position: static;
        border-radius: 10px;
        padding-top: 30px;
        background: rgba(255, 255, 255, 1);
        // border: 1px solid blue;
        display:flex;
        flex-direction: column;
        justify-content:center;
        box-sizing: border-box;
        overflow-y: auto;

        & .ModaleGalerie{
            width: 100%;
            box-sizing: border-box;
            display: grid;
            padding:50px 100px 50px 100px;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 7px;
            grid-row-gap: 30px;
        }

        & img{
            width: 76.86px;
            height: auto;
            // border-radius: 10px;
        }
    }
    

    & h2{
        margin:0;
        display: flex;
        justify-content: center;
        font-family: Work Sans;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(0, 0, 0, 1);

    }

    & hr{
        width: 420px;
        border: 1px solid rgba(179, 179, 179, 1);
    }

   
}