@import "./1-base/normalize";
@import "./1-base/base";
@import "./2-utils/functions";
@import "./2-utils/mixins";
@import "./2-utils/variables";
@import "./3-layouts/header";
@import "./3-layouts/Formulaire";
@import "./3-layouts/footer";
@import "./4-components/Composants";
@import "./5-pages/Acceuil";
@import "./5-pages/login";
@import "./5-pages/Modale.scss";

body{
	max-width: 1140px;
	margin:auto;
}

section {
	margin: 50px 0;
}
